<%= form_for(@usergroup) do |f| %>
  <% if @usergroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usergroup.errors.count, "error") %> prohibited this usergroup from being saved:</h2>

      <ul>
      <% @usergroup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.text_field :group_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
