<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @usergroup.user %>
</p>

<p>
  <strong>Group:</strong>
  <%= @usergroup.group %>
</p>

<%= link_to 'Edit', edit_usergroup_path(@usergroup) %> |
<%= link_to 'Back', usergroups_path %>
