<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @comment.desc %>
</p>

<p>
  <strong>Event:</strong>
  <%= @comment.event.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.username %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
