<!DOCTYPE html>
<html>
<body>
<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">

 <%= f.hidden_field :user_id ,value:current_user.id  %> 
    
  </div>
  <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :MemberName %><br>
    <%= f.text_area :memberName %>
  </div>
  <div class="field">
    <%= f.label :City %><br>
    <%= f.select :city, Group::CITYS.map { |s| [("#{s}"), s] } %>
  </div>
  <div class="field">  
  <%= f.hidden_field :lng , id:"lng" %>
  </div>

  <div class="field">
  <%= f.hidden_field :lat  , id:"lat" %> 
  </div>

  <!-- photo -->
    <div class="field">
  <%= f.label :uploadPhoto %><br />
   <%= f.file_field :avatar %>
    </div>


    <!--  ALL interested will be here -->

    <div class="actions">
    <%= f.label :Interestes%><br>
<%= select_tag "interests[]", options_from_collection_for_select(Interest.all, "id", "name"), :multiple => true, :id => "vacancy_ids", :class => "form-control" %>
</div>

   
<div class="actions">
    <%= f.submit %>
  </div>


<p id="demo"></p>


<script>
// window.onload = function(){getLocation();};
var x = document.getElementById("demo");
var latt = document.getElementById("lat");
var lngt = document.getElementById("lng");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }

}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude; 

     
    latt.value= position.coords.latitude ;
    lngt.value= position.coords.longitude;

}
     window.onload = getLocation;
</script>



<!-- .. -->
  
<% end %>
</body>
</html>
