<p id="notice"><%= notice %></p>

<h1>Listing Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Admin</th>
      <th>Desc</th>
      <th>MemberName</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </th.ead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td> <%= group.user.username %></td>
        <td><%= group.desc %></td>
        <td><%= group.memberName %></td>
        <td><%= group.city %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } if admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  



