<p id="notice"><%= notice %></p>
<%= link_to 'New Event', new_event_path %>

<%= form_for(@usergroup) do |f| %>
  

  <div class="field">
  
    <%= f.hidden_field :user_id ,value: current_user.id %>
  </div>

    <%= f.hidden_field :group_id ,value: @group.id %>

  <div class="actions">
    <%= f.submit value: "Join Event" %>
  </div>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Admin:</strong>
  <%= link_to @group.user.username, @group.user %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @group.desc %>
</p>

<p>
  <strong>MemberName:</strong>
  <%= @group.memberName %>
</p>
<p>
  <strong>City:</strong>
  <%= @group.city %>
</p>


<p>
<%= image_tag @group.avatar.url %>


</p>
  
 

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

<br/>


<br>
  <strong>Groups Events:</strong>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Describtion</th>
      <th>Image</th>
      <th>Meet Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>




<tbody>
    <% @group.events.each do |event| %>
      <tr>
        <td><%= link_to event.name ,event %></td>
        <td><%= event.desc %></td>
        <%= image_tag event.avatar.url %>
        <td><%= event.meetDate %></td>
        

      </tr>
    <% end %>
  </tbody>
</table>



<br><br></br>
<p>
<strong>Group Users:</strong>
</p>

<% @allgroupusers.each do |usr| %>
    <%= link_to usr.user.username, usr.user %>


<% end %>








