<!DOCTYPE html>
<html>
<body>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password%>
  </div>
  
   <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>

<!-- photo -->
    <div class="field">
  <%= f.label :uploadPhoto %><br />
   <%= f.file_field :avatar %>
    </div>


  <div class="field">  
  <%= f.hidden_field :lng , id:"lng" %>
  </div>

  <div class="field">
  <%= f.hidden_field :lat  , id:"lat" %> 
  </div>
<!--   <div class="field">
    <%= f.label :isadmin %><br>
    <%= f.check_box :isadmin %>
  </div> -->
  <div class="actions">
  <%= f.label :Interestes%><br>


  <%= select_tag "interests[]", options_from_collection_for_select(Interest.all, "id", "name"), :multiple => true, :id => "vacancy_ids", :class => "form-control" %>
  <div class="actions">
  </div>
    <%= f.submit %>
  </div>
  <p id="demo"></p>


<script>
// window.onload = function(){getLocation();};
var x = document.getElementById("demo");
var latt = document.getElementById("lat");
var lngt = document.getElementById("lng");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }

}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude; 

     
    latt.value= position.coords.latitude ;
    lngt.value= position.coords.longitude;

}
     window.onload = getLocation;
</script>



<!-- .. -->
<% end %>
</body>
</html>