<p id="notice"><%= notice %></p>

<h1>Listing Userevents</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userevents.each do |userevent| %>
      <tr>
        <td><%= userevent.user %></td>
        <td><%= userevent.event %></td>
        <td><%= link_to 'Show', userevent %></td>
        <td><%= link_to 'Edit', edit_userevent_path(userevent) %></td>
        <td><%= link_to 'Destroy', userevent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userevent', new_userevent_path %>
