<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @userevent.user %>
</p>

<p>
  <strong>Event:</strong>
  <%= @userevent.event %>
</p>

<%= link_to 'Edit', edit_userevent_path(@userevent) %> |
<%= link_to 'Back', userevents_path %>
