<!DOCTYPE html>
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.text_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :meetDate %><br>
    <%= f.datetime_select :meetDate %>
  </div>

 <div class="field">  
  <%= f.hidden_field :lng , id:"lng" %>
  </div>

  <div class="field">
  <%= f.hidden_field :lat  , id:"lat" %> 
  </div>


  <!-- photo -->
    <div class="field">
  <%= f.label :uploadPhoto %><br />
   <%= f.file_field :avatar %>
    </div>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>


  <p id="demo"></p>


<script>
var x = document.getElementById("demo");
var latt = document.getElementById("lat");
var lngt = document.getElementById("lng");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }

}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude; 
    latt.value= position.coords.latitude ;
    lngt.value= position.coords.longitude;

}
     window.onload = getLocation;
</script>



<!-- .. -->
<% end %>
