<p id="notice"><%= notice %></p>

<%= form_for(@userevent) do |f| %>
  <div class="field">
    
  <!--   <%= f.text_field :user_id %> -->
    <%= f.hidden_field :user_id ,value: current_user.id%>
  </div>
  <div class="field">
   <!--  <%= f.label :event_id %><br> -->
    <%= f.hidden_field :event_id ,value: @event.id %>
  </div>
  <div class="actions">
    <%= f.submit value: "Join" %>
  </div>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @event.desc %>
</p>

<p>
  <strong>Group:</strong>
  <%= link_to @event.group.name, @event.group %>
</p>

<p>
  <strong>Meetdate:</strong>
  <%= @event.meetDate %>
</p>

<p>
<%= image_tag @event.avatar.url %>
<!-- comment -->

<%= form_for(@comment) do |f| %>
  
        <div class="field">
    <%= f.label :YourComment %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="field">
   <!--  <%= f.text_field :event_id %> -->
    <%= f.hidden_field :event_id ,value: @event.id %>
  </div>
  <div class="field">

  <!--   <%= f.text_field :user_id %> -->
    <%= f.hidden_field :user_id ,value: current_user.id %>
  
  <div class="actions">
    <%= f.submit value: "Add Comment" %>
  </div>
<% end %>




<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>


<p>
	
	<br/>
  <strong>Comments:</strong>
</p>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>




<tbody>
    <% @event.comments.each do |comment| %>
      <tr>
        <td><%= link_to comment.user.username ,comment.user %></td>
        <td><%= comment.desc %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br></br>
<p>
<strong>Event Users:</strong>
</p>




<% @alleventusers.each do |usr| %>
    <%= link_to usr.user.username, usr.user %>


<% end %>





