<%= form_for(@groupinterest) do |f| %>
  <% if @groupinterest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@groupinterest.errors.count, "error") %> prohibited this groupinterest from being saved:</h2>

      <ul>
      <% @groupinterest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.text_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :interest_id %><br>
    <%= f.text_field :interest_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
