<p id="notice"><%= notice %></p>

<h1>Listing Groupinterests</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Interest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groupinterests.each do |groupinterest| %>
      <tr>
        <td><%= groupinterest.group %></td>
        <td><%= groupinterest.interest %></td>
        <td><%= link_to 'Show', groupinterest %></td>
        <td><%= link_to 'Edit', edit_groupinterest_path(groupinterest) %></td>
        <td><%= link_to 'Destroy', groupinterest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Groupinterest', new_groupinterest_path %>
