<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @groupinterest.group %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @groupinterest.interest %>
</p>

<%= link_to 'Edit', edit_groupinterest_path(@groupinterest) %> |
<%= link_to 'Back', groupinterests_path %>
