<%= form_for(@userinterest) do |f| %>
  <% if @userinterest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userinterest.errors.count, "error") %> prohibited this userinterest from being saved:</h2>

      <ul>
      <% @userinterest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :interest_id %><br>
    <%= f.text_field :interest_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
