<p id="notice"><%= notice %></p>

<h1>Listing Userinterests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Interest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userinterests.each do |userinterest| %>
      <tr>
        <td><%= userinterest.user %></td>
        <td><%= userinterest.interest %></td>
        <td><%= link_to 'Show', userinterest %></td>
        <td><%= link_to 'Edit', edit_userinterest_path(userinterest) %></td>
        <td><%= link_to 'Destroy', userinterest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userinterest', new_userinterest_path %>
