<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @userinterest.user %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @userinterest.interest %>
</p>

<%= link_to 'Edit', edit_userinterest_path(@userinterest) %> |
<%= link_to 'Back', userinterests_path %>
